In [50]:
import pandas as pd
df = pd.read_csv('transactions.csv')

In [51]:
#1
print(df.describe())

       TransactionID    UserID  ProductID   Quantity
count       10.00000  9.000000  10.000000  10.000000
mean         5.50000  3.444444   3.400000   2.400000
std          3.02765  2.127858   1.074968   1.712698
min          1.00000  1.000000   2.000000   1.000000
25%          3.25000  2.000000   2.250000   1.000000
50%          5.50000  3.000000   4.000000   2.000000
75%          7.75000  3.000000   4.000000   3.000000
max         10.00000  7.000000   5.000000   6.000000

In [52]:
#2
print("Number of attributes (columns):", df.shape[1])

Number of attributes (columns): 5

In [53]:
#3
print("Number of records (rows):",df.shape[0])

Number of records (rows): 10

In [54]:
#4
print("Row names",df.index)

Row names RangeIndex(start=0, stop=10, step=1)

In [55]:
print(df.describe())

       TransactionID    UserID  ProductID   Quantity
count       10.00000  9.000000  10.000000  10.000000
mean         5.50000  3.444444   3.400000   2.400000
std          3.02765  2.127858   1.074968   1.712698
min          1.00000  1.000000   2.000000   1.000000
25%          3.25000  2.000000   2.250000   1.000000
50%          5.50000  3.000000   4.000000   2.000000
75%          7.75000  3.000000   4.000000   3.000000
max         10.00000  7.000000   5.000000   6.000000

In [56]:
#4
row_names = df.index.tolist()
print(row_names)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [57]:

print(df.head(10))

   TransactionID TransactionDate  UserID  ProductID  Quantity
0              1      2010-08-21     7.0          2         1
1              2      2011-05-26     3.0          4         1
2              3      2011-06-16     3.0          3         1
3              4      2012-08-26     1.0          2         3
4              5      2013-06-06     2.0          4         1
5              6      2013-12-23     2.0          5         6
6              7      2013-12-30     3.0          4         1
7              8      2014-04-24     NaN          2         3
8              9      2015-04-24     7.0          4         3
9             10      2016-05-08     3.0          4         4

In [58]:
#5
column_names = df.columns.tolist()
print(column_names)

['TransactionID', 'TransactionDate', 'UserID', 'ProductID', 'Quantity']

In [59]:
names=df.rename(columns={"Quantity":"Quant"},inplace=True)
print(names)

None

In [60]:

print("7",df.rename(columns={"Quantity": "Quant"}, inplace=True))

7 None

In [61]:
print(df.describe())

       TransactionID    UserID  ProductID      Quant
count       10.00000  9.000000  10.000000  10.000000
mean         5.50000  3.444444   3.400000   2.400000
std          3.02765  2.127858   1.074968   1.712698
min          1.00000  1.000000   2.000000   1.000000
25%          3.25000  2.000000   2.250000   1.000000
50%          5.50000  3.000000   4.000000   2.000000
75%          7.75000  3.000000   4.000000   3.000000
max         10.00000  7.000000   5.000000   6.000000

In [62]:

print("7",df.rename(columns={"Quantity": "Quant"}, inplace=True))

7 None

In [63]:
#7
df.rename(columns={"Quantity": "Quant"}, inplace=True)
print(df)

   TransactionID TransactionDate  UserID  ProductID  Quant
0              1      2010-08-21     7.0          2      1
1              2      2011-05-26     3.0          4      1
2              3      2011-06-16     3.0          3      1
3              4      2012-08-26     1.0          2      3
4              5      2013-06-06     2.0          4      1
5              6      2013-12-23     2.0          5      6
6              7      2013-12-30     3.0          4      1
7              8      2014-04-24     NaN          2      3
8              9      2015-04-24     7.0          4      3
9             10      2016-05-08     3.0          4      4

In [64]:
#6
import pandas as pd
df = pd.read_csv('transactions.csv')
print(df.head(10))

   TransactionID TransactionDate  UserID  ProductID  Quantity
0              1      2010-08-21     7.0          2         1
1              2      2011-05-26     3.0          4         1
2              3      2011-06-16     3.0          3         1
3              4      2012-08-26     1.0          2         3
4              5      2013-06-06     2.0          4         1
5              6      2013-12-23     2.0          5         6
6              7      2013-12-30     3.0          4         1
7              8      2014-04-24     NaN          2         3
8              9      2015-04-24     7.0          4         3
9             10      2016-05-08     3.0          4         4

In [65]:
#8
import pandas as pd
df = pd.read_csv('transactions.csv')
df.rename(columns={"ProductID": "PID", "UserID": "UID"}, inplace=True)
print(df)

   TransactionID TransactionDate  UID  PID  Quantity
0              1      2010-08-21  7.0    2         1
1              2      2011-05-26  3.0    4         1
2              3      2011-06-16  3.0    3         1
3              4      2012-08-26  1.0    2         3
4              5      2013-06-06  2.0    4         1
5              6      2013-12-23  2.0    5         6
6              7      2013-12-30  3.0    4         1
7              8      2014-04-24  NaN    2         3
8              9      2015-04-24  7.0    4         3
9             10      2016-05-08  3.0    4         4

In [66]:
#9
import pandas as pd
df = pd.read_csv('transactions.csv')
df_descending = df.sort_values(by="TransactionID", ascending=False)
print("Descending order:")
print(df_descending)
df_ascending = df.sort_values(by="TransactionID", ascending=True)
print("\nAscending order:")
print(df_ascending)

Descending order:
   TransactionID TransactionDate  UserID  ProductID  Quantity
9             10      2016-05-08     3.0          4         4
8              9      2015-04-24     7.0          4         3
7              8      2014-04-24     NaN          2         3
6              7      2013-12-30     3.0          4         1
5              6      2013-12-23     2.0          5         6
4              5      2013-06-06     2.0          4         1
3              4      2012-08-26     1.0          2         3
2              3      2011-06-16     3.0          3         1
1              2      2011-05-26     3.0          4         1
0              1      2010-08-21     7.0          2         1

Ascending order:
   TransactionID TransactionDate  UserID  ProductID  Quantity
0              1      2010-08-21     7.0          2         1
1              2      2011-05-26     3.0          4         1
2              3      2011-06-16     3.0          3         1
3              4      2012-08-26     1.0          2         3
4              5      2013-06-06     2.0          4         1
5              6      2013-12-23     2.0          5         6
6              7      2013-12-30     3.0          4         1
7              8      2014-04-24     NaN          2         3
8              9      2015-04-24     7.0          4         3
9             10      2016-05-08     3.0          4         4

In [67]:
#10
import pandas as pd
df = pd.read_csv('transactions.csv')
df_sorted = df.sort_values(by=["Quantity", "TransactionDate"], ascending=[True, False])
print(df_sorted)

   TransactionID TransactionDate  UserID  ProductID  Quantity
6              7      2013-12-30     3.0          4         1
4              5      2013-06-06     2.0          4         1
2              3      2011-06-16     3.0          3         1
1              2      2011-05-26     3.0          4         1
0              1      2010-08-21     7.0          2         1
8              9      2015-04-24     7.0          4         3
7              8      2014-04-24     NaN          2         3
3              4      2012-08-26     1.0          2         3
9             10      2016-05-08     3.0          4         4
5              6      2013-12-23     2.0          5         6

In [68]:
#11
df = df[["ProductID", "Quantity", "TransactionDate", "TransactionID", "UserID"]]
print(df)

   ProductID  Quantity TransactionDate  TransactionID  UserID
0          2         1      2010-08-21              1     7.0
1          4         1      2011-05-26              2     3.0
2          3         1      2011-06-16              3     3.0
3          2         3      2012-08-26              4     1.0
4          4         1      2013-06-06              5     2.0
5          5         6      2013-12-23              6     2.0
6          4         1      2013-12-30              7     3.0
7          2         3      2014-04-24              8     NaN
8          4         3      2015-04-24              9     7.0
9          4         4      2016-05-08             10     3.0

In [69]:
#12
import pandas as pd
df = pd.read_csv('transactions.csv')
df = df[["UserID", "TransactionID", "TransactionDate", "ProductID", "Quantity"]]
print(df)

   UserID  TransactionID TransactionDate  ProductID  Quantity
0     7.0              1      2010-08-21          2         1
1     3.0              2      2011-05-26          4         1
2     3.0              3      2011-06-16          3         1
3     1.0              4      2012-08-26          2         3
4     2.0              5      2013-06-06          4         1
5     2.0              6      2013-12-23          5         6
6     3.0              7      2013-12-30          4         1
7     NaN              8      2014-04-24          2         3
8     7.0              9      2015-04-24          4         3
9     3.0             10      2016-05-08          4         4

In [70]:
#13
import pandas as pd
df = pd.read_csv('transactions.csv')
second_column = df.iloc[:, 1]
print(second_column)

0    2010-08-21
1    2011-05-26
2    2011-06-16
3    2012-08-26
4    2013-06-06
5    2013-12-23
6    2013-12-30
7    2014-04-24
8    2015-04-24
9    2016-05-08
Name: TransactionDate, dtype: object

In [71]:
#14
import pandas as pd
df = pd.read_csv('transactions.csv')
product_id_array = df['ProductID'].to_numpy()
print(product_id_array)

[2 4 3 2 4 5 4 2 4 4]

In [72]:
#16 Subset rows 1, 3, and 6
subset_rows = df.iloc[[1, 3, 6]]
print(subset_rows)

   TransactionID TransactionDate  UserID  ProductID  Quantity
1              2      2011-05-26     3.0          4         1
3              4      2012-08-26     1.0          2         3
6              7      2013-12-30     3.0          4         1

In [73]:
# Subset the first three rows
first_three_rows = df.iloc[:3]
print(first_three_rows)

   TransactionID TransactionDate  UserID  ProductID  Quantity
0              1      2010-08-21     7.0          2         1
1              2      2011-05-26     3.0          4         1
2              3      2011-06-16     3.0          3         1

In [74]:
# Subset the last two rows
last_two_rows = df.iloc[-2:]
print(last_two_rows)

   TransactionID TransactionDate  UserID  ProductID  Quantity
8              9      2015-04-24     7.0          4         3
9             10      2016-05-08     3.0          4         4

In [75]:
# Subset all rows except the last two
excluding_last_two_rows = df.iloc[:-2]
print(excluding_last_two_rows)

   TransactionID TransactionDate  UserID  ProductID  Quantity
0              1      2010-08-21     7.0          2         1
1              2      2011-05-26     3.0          4         1
2              3      2011-06-16     3.0          3         1
3              4      2012-08-26     1.0          2         3
4              5      2013-06-06     2.0          4         1
5              6      2013-12-23     2.0          5         6
6              7      2013-12-30     3.0          4         1
7              8      2014-04-24     NaN          2         3

In [76]:
# Subset all rows except the first three
excluding_first_three_rows = df.iloc[3:]
print(excluding_first_three_rows)

   TransactionID TransactionDate  UserID  ProductID  Quantity
3              4      2012-08-26     1.0          2         3
4              5      2013-06-06     2.0          4         1
5              6      2013-12-23     2.0          5         6
6              7      2013-12-30     3.0          4         1
7              8      2014-04-24     NaN          2         3
8              9      2015-04-24     7.0          4         3
9             10      2016-05-08     3.0          4         4

In [77]:
# Subset rows where Quantity > 1
quantity_greater_than_1 = df[df['Quantity'] > 1]
print(quantity_greater_than_1)

   TransactionID TransactionDate  UserID  ProductID  Quantity
3              4      2012-08-26     1.0          2         3
5              6      2013-12-23     2.0          5         6
7              8      2014-04-24     NaN          2         3
8              9      2015-04-24     7.0          4         3
9             10      2016-05-08     3.0          4         4

In [78]:
# Subset rows where UserID = 2
user_id_2_rows = df[df['UserID'] == 2]
print(user_id_2_rows)

   TransactionID TransactionDate  UserID  ProductID  Quantity
4              5      2013-06-06     2.0          4         1
5              6      2013-12-23     2.0          5         6

In [79]:
#Subset rows where Quantity>1 and UserID=2 
filtered_df = df[(df['Quantity'] > 1) & (df['UserID'] == 2)]
print(filtered_df)

   TransactionID TransactionDate  UserID  ProductID  Quantity
5              6      2013-12-23     2.0          5         6

In [80]:
# 25. Subset rows where Quantity + UserID is > 3
print(df[(df["Quantity"] + df["UserID"]) > 3])

   TransactionID TransactionDate  UserID  ProductID  Quantity
0              1      2010-08-21     7.0          2         1
1              2      2011-05-26     3.0          4         1
2              3      2011-06-16     3.0          3         1
3              4      2012-08-26     1.0          2         3
5              6      2013-12-23     2.0          5         6
6              7      2013-12-30     3.0          4         1
8              9      2015-04-24     7.0          4         3
9             10      2016-05-08     3.0          4         4

In [81]:
# 26. Subset rows where an external array foo is True
foo = [True, False] * (len(df) // 2) + [True] * (len(df) % 2)
print(df[foo])

   TransactionID TransactionDate  UserID  ProductID  Quantity
0              1      2010-08-21     7.0          2         1
2              3      2011-06-16     3.0          3         1
4              5      2013-06-06     2.0          4         1
6              7      2013-12-30     3.0          4         1
8              9      2015-04-24     7.0          4         3

In [82]:
# 27. Subset rows where an external array bar is positive
bar = df["UserID"] - df["Quantity"]  # Example condition
print(df[bar > 0])

   TransactionID TransactionDate  UserID  ProductID  Quantity
0              1      2010-08-21     7.0          2         1
1              2      2011-05-26     3.0          4         1
2              3      2011-06-16     3.0          3         1
4              5      2013-06-06     2.0          4         1
6              7      2013-12-30     3.0          4         1
8              9      2015-04-24     7.0          4         3

In [83]:
# 28. Subset rows where foo is TRUE or bar is negative
print(df[(foo) | (bar < 0)])

   TransactionID TransactionDate  UserID  ProductID  Quantity
0              1      2010-08-21     7.0          2         1
2              3      2011-06-16     3.0          3         1
3              4      2012-08-26     1.0          2         3
4              5      2013-06-06     2.0          4         1
5              6      2013-12-23     2.0          5         6
6              7      2013-12-30     3.0          4         1
8              9      2015-04-24     7.0          4         3
9             10      2016-05-08     3.0          4         4

In [84]:
# 29. Subset rows where foo is not TRUE and bar is not negative
print(df[(~pd.Series(foo)) & (bar >= 0)])

   TransactionID TransactionDate  UserID  ProductID  Quantity
1              2      2011-05-26     3.0          4         1

In [85]:
# 30. Subset by columns 1 and 3
print(df.iloc[:, [1, 3]])

  TransactionDate  ProductID
0      2010-08-21          2
1      2011-05-26          4
2      2011-06-16          3
3      2012-08-26          2
4      2013-06-06          4
5      2013-12-23          5
6      2013-12-30          4
7      2014-04-24          2
8      2015-04-24          4
9      2016-05-08          4

In [86]:
# 31. Subset by columns TransactionID and TransactionDate
print("31",df[["TransactionID", "TransactionDate"]])

31    TransactionID TransactionDate
0              1      2010-08-21
1              2      2011-05-26
2              3      2011-06-16
3              4      2012-08-26
4              5      2013-06-06
5              6      2013-12-23
6              7      2013-12-30
7              8      2014-04-24
8              9      2015-04-24
9             10      2016-05-08

In [87]:
# 32. Subset by columns TransactionID and TransactionDate with a logical operator
columns_to_select = ["TransactionID", "TransactionDate"]
print(df.loc[:, columns_to_select])

   TransactionID TransactionDate
0              1      2010-08-21
1              2      2011-05-26
2              3      2011-06-16
3              4      2012-08-26
4              5      2013-06-06
5              6      2013-12-23
6              7      2013-12-30
7              8      2014-04-24
8              9      2015-04-24
9             10      2016-05-08

In [88]:
# 33. Subset columns by a variable list of column names
selected_cols = ["UserID", "ProductID"]
print("33",df[selected_cols])

33    UserID  ProductID
0     7.0          2
1     3.0          4
2     3.0          3
3     1.0          2
4     2.0          4
5     2.0          5
6     3.0          4
7     NaN          2
8     7.0          4
9     3.0          4

In [89]:
# 34. Subset columns excluding a variable list of column names
excluded_cols = ["UserID", "TransactionDate"]
print(df.drop(columns=excluded_cols))

   TransactionID  ProductID  Quantity
0              1          2         1
1              2          4         1
2              3          3         1
3              4          2         3
4              5          4         1
5              6          5         6
6              7          4         1
7              8          2         3
8              9          4         3
9             10          4         4

In [90]:
# 35. Inserting and updating values
df.loc[0, "Quantity"] = 10
print(df.loc[0, "Quantity"])

10

In [91]:
#35 Update the value
df.loc[0, "Quantity"] = 10
print(df)
print(df.loc[0, "Quantity"])

   TransactionID TransactionDate  UserID  ProductID  Quantity
0              1      2010-08-21     7.0          2        10
1              2      2011-05-26     3.0          4         1
2              3      2011-06-16     3.0          3         1
3              4      2012-08-26     1.0          2         3
4              5      2013-06-06     2.0          4         1
5              6      2013-12-23     2.0          5         6
6              7      2013-12-30     3.0          4         1
7              8      2014-04-24     NaN          2         3
8              9      2015-04-24     7.0          4         3
9             10      2016-05-08     3.0          4         4
10

In [92]:
# 36. Convert the TransactionDate column to type Date
df["TransactionDate"] = pd.to_datetime(df["TransactionDate"])
print(df["TransactionDate"])

0   2010-08-21
1   2011-05-26
2   2011-06-16
3   2012-08-26
4   2013-06-06
5   2013-12-23
6   2013-12-30
7   2014-04-24
8   2015-04-24
9   2016-05-08
Name: TransactionDate, dtype: datetime64[ns]

In [49]:
#37 Convert the TransactionDate column to datetime
df["TransactionDate"] = pd.to_datetime(df["TransactionDate"])

print(df)

   TransactionID TransactionDate  UserID  ProductID  Quantity
0              1      2010-08-21     7.0          2        10
1              2      2011-05-26     3.0          4         1
2              3      2011-06-16     3.0          3         1
3              4      2012-08-26     1.0          2         3
4              5      2013-06-06     2.0          4         1
5              6      2013-12-23     2.0          5         6
6              7      2013-12-30     3.0          4         1
7              8      2014-04-24     NaN          2         3
8              9      2015-04-24     7.0          4         3
9             10      2016-05-08     3.0          4         4